In [0]:
import pandas as pd

In [0]:
# Read the dataset
data=pd.read_csv('bank.csv')

In [187]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [188]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [0]:
# Drop the columns which are unique for all users like IDs (2.5 points)
df=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [190]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [0]:
#Distinguish the feature and target set (2.5 points)

In [0]:
from sklearn.model_selection import train_test_split

In [192]:
df.describe()

        CreditScore           Age  ...  EstimatedSalary        Exited
count  10000.000000  10000.000000  ...     10000.000000  10000.000000
mean     650.528800     38.921800  ...    100090.239881      0.203700
std       96.653299     10.487806  ...     57510.492818      0.402769
min      350.000000     18.000000  ...        11.580000      0.000000
25%      584.000000     32.000000  ...     51002.110000      0.000000
50%      652.000000     37.000000  ...    100193.915000      0.000000
75%      718.000000     44.000000  ...    149388.247500      0.000000
max      850.000000     92.000000  ...    199992.480000      1.000000

[8 rows x 9 columns]

In [0]:
y=df['Exited']

In [0]:

X=df.drop(['Exited'],axis=1)

In [195]:
y.size

10000

In [0]:
y=df['Exited']

In [197]:
from sklearn.preprocessing import LabelEncoder
labelencoder_x = LabelEncoder()
X.iloc[:, 1] = labelencoder_x.fit_transform(X.iloc[:, 1])
X.iloc[:, 2] = labelencoder_x.fit_transform(X.iloc[:, 2])
X.head()

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0       0  ...          1               1        101348.88
1          608          2       0  ...          0               1        112542.58
2          502          0       0  ...          1               0        113931.57
3          699          0       0  ...          0               0         93826.63
4          850          2       0  ...          1               1         79084.10

[5 rows x 10 columns]

In [198]:
from keras.utils import to_categorical
encoded = pd.DataFrame(to_categorical(X.iloc[:, 1]))

X = pd.concat([encoded, X], axis = 1)
X.head()

     0    1    2  ...  HasCrCard  IsActiveMember  EstimatedSalary
0  1.0  0.0  0.0  ...          1               1        101348.88
1  0.0  0.0  1.0  ...          0               1        112542.58
2  1.0  0.0  0.0  ...          1               0        113931.57
3  1.0  0.0  0.0  ...          0               0         93826.63
4  0.0  0.0  1.0  ...          1               1         79084.10

[5 rows x 13 columns]

In [0]:
#X.rename(columns = {0:3}, inplace = True)

In [200]:
X = X.drop(['Geography',0], axis = 1)
X.head()

     1    2  CreditScore  ...  HasCrCard  IsActiveMember  EstimatedSalary
0  0.0  0.0          619  ...          1               1        101348.88
1  0.0  1.0          608  ...          0               1        112542.58
2  0.0  0.0          502  ...          1               0        113931.57
3  0.0  0.0          699  ...          0               0         93826.63
4  0.0  1.0          850  ...          1               1         79084.10

[5 rows x 11 columns]

In [201]:
X.dtypes

1                  float32
2                  float32
CreditScore          int64
Gender               int64
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
dtype: object

In [0]:
#Divide the data set into Train and test sets
trainX,testX,trainY,testY = train_test_split(X,y, test_size=.30,random_state=1)

In [0]:

#Normalize the train and test data (2.5 points)
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
trainX = sc.fit_transform(trainX)
testX = sc.transform(testX)

In [203]:
trainY.shape

(7000,)

In [204]:
trainX.shape

(7000, 11)

In [205]:
testX.shape

(3000, 11)

In [206]:
trainY.head()

2228    0
5910    0
1950    1
2119    0
5947    0
Name: Exited, dtype: int64

In [0]:
import sklearn

In [0]:
#sklearn.preprocessing.normalize(trainX)

In [0]:
#Initialize & build the model (10 points)

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [210]:
classifier = Sequential()
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'softmax', input_dim = 11))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="softmax", input_dim=11, units=6, kernel_initializer="uniform")`

In [211]:
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'softmax'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="softmax", units=6, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [212]:
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'softmax'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="softmax", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [0]:
classifier.compile(optimizer = 'adam', loss = "binary_crossentropy", metrics = ['accuracy'])

In [214]:
classifier.fit(trainX, trainY, batch_size = 10, nb_epoch = 30)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/30
7000/7000 [==============================] - 1s 195us/step - loss: 12.7311 - acc: 0.2014
Epoch 2/30
7000/7000 [==============================] - 1s 118us/step - loss: 12.7311 - acc: 0.2014
Epoch 3/30
7000/7000 [==============================] - 1s 120us/step - loss: 12.7311 - acc: 0.2014
Epoch 4/30
7000/7000 [==============================] - 1s 120us/step - loss: 12.7311 - acc: 0.2014
Epoch 5/30
7000/7000 [==============================] - 1s 126us/step - loss: 12.7311 - acc: 0.2014
Epoch 6/30
7000/7000 [==============================] - 1s 121us/step - loss: 12.7311 - acc: 0.2014
Epoch 7/30
7000/7000 [==============================] - 1s 122us/step - loss: 12.7311 - acc: 0.2014
Epoch 8/30
7000/7000 [==============================] - 1s 121us/step - loss: 12.7311 - acc: 0.2014
Epoch 9/30
7000/7000 [==============================] - 1s 120us/step - loss: 12.7311 - acc: 0.2014
Epoch 10/30
7000/7000 [==============================] - 1s 126us/step - loss: 12.7311 - acc: 0.2014
Epoch 11/30
7000/7000 [==============================] - 1s 121us/step - loss: 12.7311 - acc: 0.2014
Epoch 12/30
7000/7000 [==============================] - 1s 120us/step - loss: 12.7311 - acc: 0.2014
Epoch 13/30
7000/7000 [==============================] - 1s 122us/step - loss: 12.7311 - acc: 0.2014
Epoch 14/30
7000/7000 [==============================] - 1s 119us/step - loss: 12.7311 - acc: 0.2014
Epoch 15/30
7000/7000 [==============================] - 1s 120us/step - loss: 12.7311 - acc: 0.2014
Epoch 16/30
7000/7000 [==============================] - 1s 129us/step - loss: 12.7311 - acc: 0.2014
Epoch 17/30
7000/7000 [==============================] - 1s 120us/step - loss: 12.7311 - acc: 0.2014
Epoch 18/30
7000/7000 [==============================] - 1s 121us/step - loss: 12.7311 - acc: 0.2014
Epoch 19/30
7000/7000 [==============================] - 1s 125us/step - loss: 12.7311 - acc: 0.2014
Epoch 20/30
7000/7000 [==============================] - 1s 120us/step - loss: 12.7311 - acc: 0.2014
Epoch 21/30
7000/7000 [==============================] - 1s 120us/step - loss: 12.7311 - acc: 0.2014
Epoch 22/30
7000/7000 [==============================] - 1s 119us/step - loss: 12.7311 - acc: 0.2014
Epoch 23/30
7000/7000 [==============================] - 1s 119us/step - loss: 12.7311 - acc: 0.2014
Epoch 24/30
7000/7000 [==============================] - 1s 120us/step - loss: 12.7311 - acc: 0.2014
Epoch 25/30
7000/7000 [==============================] - 1s 121us/step - loss: 12.7311 - acc: 0.2014
Epoch 26/30
7000/7000 [==============================] - 1s 122us/step - loss: 12.7311 - acc: 0.2014
Epoch 27/30
7000/7000 [==============================] - 1s 120us/step - loss: 12.7311 - acc: 0.2014
Epoch 28/30
7000/7000 [==============================] - 1s 119us/step - loss: 12.7311 - acc: 0.2014
Epoch 29/30
7000/7000 [==============================] - 1s 119us/step - loss: 12.7311 - acc: 0.2014
Epoch 30/30
7000/7000 [==============================] - 1s 120us/step - loss: 12.7311 - acc: 0.2014

In [0]:
classifier.compile(optimizer = 'sgd', loss = "binary_crossentropy", metrics = ['accuracy'])

In [38]:
classifier.fit(trainX, trainY, batch_size = 10, nb_epoch = 20)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/20
7000/7000 [==============================] - 1s 124us/step - loss: 12.7311 - acc: 0.2014
Epoch 2/20
7000/7000 [==============================] - 1s 106us/step - loss: 12.7311 - acc: 0.2014
Epoch 3/20
7000/7000 [==============================] - 1s 104us/step - loss: 12.7311 - acc: 0.2014
Epoch 4/20
7000/7000 [==============================] - 1s 103us/step - loss: 12.7311 - acc: 0.2014
Epoch 5/20
7000/7000 [==============================] - 1s 104us/step - loss: 12.7311 - acc: 0.2014
Epoch 6/20
7000/7000 [==============================] - 1s 108us/step - loss: 12.7311 - acc: 0.2014
Epoch 7/20
7000/7000 [==============================] - 1s 106us/step - loss: 12.7311 - acc: 0.2014
Epoch 8/20
7000/7000 [==============================] - 1s 105us/step - loss: 12.7311 - acc: 0.2014
Epoch 9/20
7000/7000 [==============================] - 1s 106us/step - loss: 12.7311 - acc: 0.2014
Epoch 10/20
7000/7000 [==============================] - 1s 108us/step - loss: 12.7311 - acc: 0.2014
Epoch 11/20
7000/7000 [==============================] - 1s 110us/step - loss: 12.7311 - acc: 0.2014
Epoch 12/20
7000/7000 [==============================] - 1s 106us/step - loss: 12.7311 - acc: 0.2014
Epoch 13/20
7000/7000 [==============================] - 1s 108us/step - loss: 12.7311 - acc: 0.2014
Epoch 14/20
7000/7000 [==============================] - 1s 108us/step - loss: 12.7311 - acc: 0.2014
Epoch 15/20
7000/7000 [==============================] - 1s 111us/step - loss: 12.7311 - acc: 0.2014
Epoch 16/20
7000/7000 [==============================] - 1s 111us/step - loss: 12.7311 - acc: 0.2014
Epoch 17/20
7000/7000 [==============================] - 1s 111us/step - loss: 12.7311 - acc: 0.2014
Epoch 18/20
7000/7000 [==============================] - 1s 110us/step - loss: 12.7311 - acc: 0.2014
Epoch 19/20
7000/7000 [==============================] - 1s 110us/step - loss: 12.7311 - acc: 0.2014
Epoch 20/20
7000/7000 [==============================] - 1s 108us/step - loss: 12.7311 - acc: 0.2014

In [0]:
#Optimize the model (5 points)

In [215]:
classifier = Sequential()
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`

In [216]:
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [217]:
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [0]:
classifier.compile(optimizer = 'adam', loss = "binary_crossentropy", metrics = ['accuracy'])

In [219]:
classifier.fit(trainX, trainY, batch_size = 10, nb_epoch = 20)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/20
7000/7000 [==============================] - 1s 211us/step - loss: 0.4819 - acc: 0.7986
Epoch 2/20
7000/7000 [==============================] - 1s 105us/step - loss: 0.4260 - acc: 0.7986
Epoch 3/20
7000/7000 [==============================] - 1s 108us/step - loss: 0.4198 - acc: 0.7993
Epoch 4/20
7000/7000 [==============================] - 1s 109us/step - loss: 0.4155 - acc: 0.8219
Epoch 5/20
7000/7000 [==============================] - 1s 108us/step - loss: 0.4140 - acc: 0.8291
Epoch 6/20
7000/7000 [==============================] - 1s 113us/step - loss: 0.4120 - acc: 0.8314
Epoch 7/20
7000/7000 [==============================] - 1s 108us/step - loss: 0.4107 - acc: 0.8324
Epoch 8/20
7000/7000 [==============================] - 1s 111us/step - loss: 0.4097 - acc: 0.8343
Epoch 9/20
7000/7000 [==============================] - 1s 113us/step - loss: 0.4092 - acc: 0.8340
Epoch 10/20
7000/7000 [==============================] - 1s 113us/step - loss: 0.4082 - acc: 0.8347
Epoch 11/20
7000/7000 [==============================] - 1s 112us/step - loss: 0.4071 - acc: 0.8350
Epoch 12/20
7000/7000 [==============================] - 1s 111us/step - loss: 0.4071 - acc: 0.8339
Epoch 13/20
7000/7000 [==============================] - 1s 110us/step - loss: 0.4058 - acc: 0.8361
Epoch 14/20
7000/7000 [==============================] - 1s 107us/step - loss: 0.4050 - acc: 0.8369
Epoch 15/20
7000/7000 [==============================] - 1s 108us/step - loss: 0.4048 - acc: 0.8356
Epoch 16/20
7000/7000 [==============================] - 1s 109us/step - loss: 0.4041 - acc: 0.8367
Epoch 17/20
7000/7000 [==============================] - 1s 110us/step - loss: 0.4035 - acc: 0.8349
Epoch 18/20
7000/7000 [==============================] - 1s 110us/step - loss: 0.4023 - acc: 0.8343
Epoch 19/20
7000/7000 [==============================] - 1s 112us/step - loss: 0.4017 - acc: 0.8371
Epoch 20/20
7000/7000 [==============================] - 1s 110us/step - loss: 0.4010 - acc: 0.8381

In [0]:
y_pred = classifier.predict(testX)
y_pred = (y_pred > 0.5) #Predict the results using 0.5 as a threshold (5 points)

In [0]:
#Print the Accuracy score and confusion matrix (2.5 points)

In [0]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(testY, y_pred)

In [222]:
print(cm)

[[2315   58]
 [ 437  190]]

In [0]:
from sklearn.metrics import accuracy_score

In [225]:
accuracy_score(testY, y_pred)

0.835