In [54]:
#1 . Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (2.5 points)

#Read the data set
import pandas as pd
import numpy as np
ds=pd.read_csv('Laliga.csv')

In [55]:
#Replace dashes with O
ds=ds.replace(to_replace='-', value=0)

In [123]:
# 2 Print all the teams which have started playing between 1930-1980. (5 points)

ds[ds['Debut'].between('1930','1980')].Team

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

In [124]:
#ds.sort_values(by='Pos')

# 3 Print the list of teams which came Top 5 in terms of points (2.5 points)

ds.Points=ds.Points.astype(int)
ds.sort_values(['Points'], ascending=[0]).head().Team

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [59]:
ds.GoalsFor=ds.GoalsFor.astype(int)
ds.GoalsAgainst=ds.GoalsAgainst.astype(int)

In [156]:
def Goal_diff_count(ds):
    for each in ds['Team']:
        Goal_diff=ds.GoalsFor-ds.GoalsAgainst
        return each,Goal_diff

In [214]:
df=ds
df.set_index('Team',inplace=True)

In [250]:
def Goal_diff_count(df):
    Goal_Diff=[]
    Goal_Diff=df['GoalsFor']-df['GoalsAgainst']
    print('Maximum Goal Difference is {}'.format(max(Goal_Diff)))
    print('Maximum Goal Difference is {}'.format(min(Goal_Diff)))
    print('******************************************')
        #Goal_Diff=ds['GoalsFor']-ds['GoalsAgainst']
        #Goal_Diff=ds.loc[ds['GoalsFor']].sub(ds.loc[ds['GoalsAgainst']])
        #if =max(Goal_Diff)
        #print(Goal_Diff, Team)
        #ds.append(temp)
    print(Goal_Diff)

In [251]:
Goal_diff_count(df)

Maximum Goal Difference is 2807
Maximum Goal Difference is -525
******************************************
Team
Real Madrid            2807
Barcelona              2786
Atletico Madrid        1225
Valencia                929
Athletic Bilbao         931
Sevilla                 307
Espanyol               -280
Real Sociedad            -2
Zaragoza               -164
Real Betis             -333
Deportivo La Coruna    -136
Celta Vigo             -346
Valladolid             -413
Racing Santander       -525
Sporting Gijon         -399
Osasuna                -334
Malaga                 -342
Oviedo                 -309
Mallorca               -189
Las Palmas             -399
Villarreal              103
Granada                -338
Rayo Vallecano         -328
Elche                  -272
Getafe                 -113
Hercules               -334
Tenerife               -125
Murcia                 -385
Alaves                 -165
Levante                -202
                       ...
Sabadell               -228
Cadiz                  -269
Logrones               -198
Castellon              -169
Albacete                -90
Almeria                -122
Cordoba                -145
Compostela              -42
Recreativo              -94
Burgos CF               -94
Pontevedra              -56
Numancia                -98
Eibar                   -28
Arenas                  -81
Real Burgos             -38
Gimnastic              -114
Extremadura             -55
Merida                  -45
Alcoyano               -107
Jaen                    -62
Real Union              -31
AD Almeria              -45
Europa                  -34
Lleida                 -112
Leganes                 -19
Xerez                   -28
Condal                  -20
Atletico Tetuan         -34
Cultural Leonesa        -31
Girona                    0
Length: 61, dtype: int32

In [51]:
ds.GoalsAgainst=ds.GoalsAgainst.astype(int)

In [57]:
ds.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

In [103]:
ds.GamesWon=ds.GamesWon.astype(int)
ds.GamesPlayed=ds.GamesPlayed.astype(int)

In [105]:
# 5 Create a new column with name “Winning Percent” and append it to the data set (5 points)
#Percentage of Winning = (GamesWon / GamesPlayed)*100
#If there are any numerical error, replace it with 0%


ds['Winning Percent']=(ds['GamesWon']/ds['GamesPlayed'])*100

In [125]:
#Print the top 5 teams which has the highest Winning percentage
ds.sort_values(['Winning Percent'], ascending=[0]).head().Team

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [122]:
# 6 Group teams based on their “Best position” and print the sum of their points for all positions (5 points)

ds['Points'].groupby(ds['BestPosition']).sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int32

In [182]:
ds(index='Team')

TypeError: 'DataFrame' object is not callable